body{
    margin: 0;
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica;
}
nav{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    color: #f9faf8;
    background-color: #1f2937;
    align-content: space-evenly;
    justify-content: space-evenly;
}

nav ul{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    /* to remove the decoration */
    list-style-type: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}
nav ul li{
    text-decoration: none;
    margin: 0 1em;
}
nav a{
    text-decoration: none;
    color: #f9faf8;
}
nav a:hover {
    color: aqua;
}