.section1{
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding: 0;
}
.section1 h1{
    font-size: 48px;
    color: #f9faf8;
}

.section1 h2{
    font-size: 18px;
    color: #e5e7eb;
}
.section1 button{
    background-color:#3882f6;
    border-radius: 10%;
}